.rounded-circle {
    border-radius: 50% !important;
    border: solid 3px #efefef;
    box-shadow: 2px 2px 20px #666; 
    width: 60px;
    height: 60px;
}
.navbar-perfil{ 
    position: fixed;
    z-index: 400; 
    height: 90vh;  
    background: rgb(223, 223, 224); 
}
.card-img-top{
    width: 290px;
    height: 250px;
    padding: 2rem;
}
.tarjeta{
    text-decoration: none;
    color: #333;
    width: 290px;
    height: 350px;
}
.card-deck{
    flex-wrap: wrap;
    padding-left: 2rem;
}

.titulo-perfil{
    color: #F59300;
    padding-bottom: 15px;
    margin-bottom: 15px;
    max-width: 430px;    
}
.publicacion{
    margin-top: 3%;
}

.item{
  color: #5a5a5a;
  padding: 1em;
  margin:1.5em;
  list-style:none;
  border-radius: 1em;
  background-color: rgb(218, 218, 218);
}